<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NPM.Cool</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#00D1B2">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#00D1B2">
</head>
<body>
  <main>
    <header class="hero is-primary">
      <div class="hero-body">
        <form class="container" @submit.prevent="setHash(query)">
          <h1 class="title is-1 has-text-centered">NPM.Cool</h1>
          <p class="subtitle has-text-centered">Give your package a cool name on npm.</p>
          <div class="field has-addons">
            <p class="control is-expanded">
              <input class="input is-medium" type="text" placeholder="Cool ideas." v-model="query">
            </p>
            <p class="control">
              <button class="button is-primary is-inverted is-outlined is-medium" type="submit">
                <span class="icon">
                  <i class="fa fa-hand-o-up"></i>
                </span>
              </button>
            </p>
          </div>
        </form>
      </div>
    </header>
    <section class="section">
      <p class="container">
        <a class="tag is-medium" v-for="result in results"
          :class="result.available ? 'is-success' : 'is-danger'"
          :href="(result.available ? 'https://www.npmjs.com/package/' : '#') + result.name"
          :target="result.available ? '_blank' : null">
          <span class="icon"><i class="fa" :class="result.available ? 'fa-hand-peace-o' : 'fa-hand-stop-o'"></i></span>
          <span v-text="result.name"></span>
        </a>
      </p>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            Built by <a href="https://github.com/Gerhut">George Chung</a>. Licensed under MIT.
            <a class="icon" href="https://github.com/SyaOS/npm.cool"><i class="fa fa-github"></i></a>
          </p>
      </div>
    </footer>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.5.2/superagent.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
