<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NPM.Cool</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <main>
    <header class="hero is-primary">
      <div class="hero-body">
        <form class="container" @submit.prevent="hash = query">
          <h1 class="title is-1 has-text-centered">NPM.Cool</h1>
          <div class="field has-addons">
            <p class="control is-expanded">
              <input class="input is-medium" type="text" placeholder="Find your cool package name" v-model="query">
            </p>
            <p class="control">
              <button class="button is-primary is-inverted is-outlined is-medium" type="submit">I'm feeling lucky</button>
            </p>
          </div>
        </form>
      </div>
    </header>
    <section class="section">
      <p class="container">
        <a class="tag is-medium" v-for="result in results"
          :class="result.available ? 'is-success' : 'is-danger'" v-text="result.name"
          @click="hash = query = result.name"></a>
      </p>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            Built by <a href="https://github.com/Gerhut">George Chung</a>. Licensed under MIT.
            <a class="icon" href="https://github.com/SyaOS/npm.cool"><i class="fa fa-github"></i></a>
          </p>
      </div>
    </footer>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.5.2/superagent.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
